/*Home Page*/
* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

.page-outer {
    display: flex;
    width: 98.78vw;
    height: 100vh;
}

.nav-outer {
    width: 250px;
    height: 100vh;
    position: fixed;
    background-color: rgba(0, 13, 65, 1.0);
    display: flex;
    flex-direction: column;

}
.nav-hidden{
    width: 250px;
    height: 100vh;
}

@media (max-width: 950px) {
    .nav-outer {
        display: none;
    }
    .nav-hidden{
        display: none;
    }
}

/*Image box*/

.image-box {
    width: 160px;
    height: 160px;
    border-radius: 100%;
    background-image: url("../images/profileImage.png");
    background-size: cover;
}

/*Nav Bar */

.image-outer {
    width: 100%;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-box > image {
    position: absolute;
}

.nav-bar {
    width: 100%;
    height: 60vh;
}

.transparent {
    background-color: rgba(0, 0, 0, .15);
    margin: 10px;
    z-index: 1;
    box-shadow: rgba(0, 0, 0, .2) 5px 5px;
}

.nav-bar > ul {
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-bar > ul > li {
    margin-top: 20px;
}

.nav-bar > ul > li > a {
    text-decoration: none;
    color: white;
}

/*About Content*/
.Content {
    background-size: cover;
    background-attachment: fixed;
    flex: 1;
}
.About{
    background-image: url("https://img.freepik.com/free-vector/abstract-blue-geometric-shapes-background_1035-17545.jpg?w=740&t=st=1686330836~exp=1686331436~hmac=ba3c2bfe3a0168171d80a7171c8c9c6f0d4b878109d47569767fcd022ebfaef0");
}

.content-inner{
    display: flex;
    margin: 10px;
    /*border: 1px solid red;*/
    width: 98%;
    height: 97%;

}
.home-inner{
    background-color: rgba(0, 0, 0, .2);
}

.content-left{
    width: auto;
    height: auto;
}

.content-right{
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    border: 1px solid red;
    flex: 1;
}



/*about-left*/
.h3{
    color: black;
    margin-top: 75px;
    margin-left: 40px;
}

@media (max-width: 950px) {
    .h3{
        margin-top: 20px;
    }
}

.h1{
    color: black;
    margin-top: 10px;
    margin-left: 40px;
    font-weight: 600;
}

.h31{
    color: black;
    margin-top: 10px;
    margin-left: 40px;
}

.span1{
    color: rgba(0, 13, 65, 1.0);
    font-weight: bold;
}



.introductionme{
    margin-right: 30px;
    margin-top: 40px;
    font-size: 15px;
    font-weight: 450;
    color: black;
    margin-left: 40px;
    width: auto;
    max-width: 600px;
    justify-content: center;
    height: auto;
    overflow-wrap: break-word;
    text-align: justify;
    text-justify: inter-word;
}

.social-media{
    margin-left: 40px;
    margin-top: 30px;
    display: flex;
    width: 250px;
    height: 50px;
    align-items: center;
    justify-content: space-between;
}

.social-media a{
    border: 1px solid rgba(0, 13, 65, 1.0);
    border-radius: 100%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: rgba(0, 13, 65, 1.0) ;
}

.social-media a:hover{
    background-color:rgba(0, 13, 65, 1.0);
    color: white;
    border: 2px solid white;
}

.button-downloadCV{
    margin-left: 105px;
    margin-top: 20px;
}
/*=========content right=========*/
.image{
    width: 200px;
    height: 300px;
    border: 1px solid red;
    background-image: url("https://img.freepik.com/premium-vector/programmer-focused-work-project-while-sitting-easy-chair_569013-330.jpg?w=740");
    background-size: cover;
}
@media (max-width: 1050px) {
    .image{
        display: none;
    }
}